.nav-side-menu
  .brand
    %span.visible-xs-block
      Hello
      = current_user.first_name if user_signed_in?
  %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
  .menu-list
    %ul#menu-content.menu-content.collapse.out
      %li
        = render 'partials/t_card' if user_signed_in?
      %li.collapsed.active{"data-target" => "#groups", "data-toggle" => "collapse"}
        %a{:href => "#"}
          = fa_icon "users", class: 'fa-lg'
          Groups
          %span.arrow
      %ul#groups.sub-menu.collapse
        %li.active
          = link_to 'Active groups', groups_path
        %li.active
          = link_to 'My groups', my_groups_path
        %li
          = link_to 'All groups', show_all_groups_path
      - if user_signed_in?
        %li
          = link_to(edit_user_registration_path) do
            = fa_icon "user", class: 'fa-lg'
            Edit profile
        %li
          = link_to destroy_user_session_path, :method => :delete do
            = fa_icon "sign-out", class: 'fa-lg'
            Sign out
      - else
        %li
          = link_to(new_user_session_path) do
            = fa_icon "sign-in", class: 'fa-lg'
            Sign in