.row.user-row
  .col-xs-3.col-sm-2.col-md-2.col-lg-2
    %img.img-responsive.img-circle{:alt => "User Pic", :src => asset_path(group.user.personal_photo.url(:thumb))}
  .col-xs-8.col-sm-9.col-md-9.col-lg-9
    %strong
      = group.user.first_name
      = group.user.last_name
    %p
      = group.group_name
    %p.text-muted
      %span.text-muted
        - case group.privacy
          - when 'public'
            %span.label.label-info
              = fa_icon 'globe'
              Public
          - when 'closed'
            %span.label.label-success
              = fa_icon 'group'
              Closed
          - when 'private'
            %span.label.label-default
              = fa_icon 'lock'
              Private
        User level: Intermediate
    - if user_signed_in? && current_user.id == group.user_id
      .btn-group.pull-right{role: 'group'}
        = link_to 'Show', group, class: 'btn btn-default'
        = link_to 'Edit', edit_group_path(group), class: 'btn btn-warning'
        = link_to 'Destroy', group, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

  .col-xs-1.col-sm-1.col-md-1.col-lg-1.dropdown-user{"data-for" => ".show_group_#{group.id}"}
    %i.glyphicon.glyphicon-chevron-down.text-muted
.row.user-infos{class: "show_group_#{group.id}"}
  .col-xs-12.col-sm-12.col-md-9.col-lg-9.col-xs-offset-0.col-sm-offset-0.col-md-offset-2.col-lg-offset-2
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Information about group
      .panel-body
        .row
          .col-xs-12.col-sm-12.hidden-md.hidden-lg
            %dl
              %dt Initiator:
              %dd
                = group.user.first_name
                = group.user.last_name
                = group.user_id
              %dt Starts:
              %dd
                = group.starts_at.to_formatted_s(:short)
              %dt Ends:
              %dd
                = group.ends_at.to_formatted_s(:short)
              %dt Topics:
              %dd
                = group.topics
              %dt Meeting point:
              %dd
                = group.venue
                = link_to '#' do
                  = fa_icon 'map-marker', class: 'fa-lg'
              %dt Members:
              %dd
                = group.members_counter
                of the
                =group.max_members
                available
              %dt
                Joined:
              %dd
                %hr.colorgraph
                - if user_signed_in? && current_user.id == group.user_id
                  = render partial: 'groups/owner_members_managment', locals: {group: group}
                - else
                  - case group.privacy
                    - when 'public', 'closed'
                      = render partial: 'groups/members_managment', locals: {group: group}
                    - else
                      = render partial: 'groups/members_list', locals: {group: group}
          .col-md-12.col-lg-12.hidden-xs.hidden-sm
            %table.table.table-user-information
              %tbody
                %tr
                  %td.col-md-3.col-lg-2.text-right
                    %strong
                      Initiator:
                  %td.text-left
                    = group.user.first_name
                    = group.user.last_name
                %tr
                  %td.text-right
                    %strong
                      Starts at:
                  %td.text-left
                    = group.starts_at.to_formatted_s(:short)
                %tr
                  %td.text-right
                    %strong
                      Ends at:
                  %td.text-left
                    = group.ends_at.to_formatted_s(:short)
                %tr
                  %td.text-right
                    %strong
                      Topics:
                  %td.text-left
                    = group.topics
                %tr
                  %td.text-right
                    %strong
                      Meeting point:
                  %td.text-left
                    = group.venue
                    = link_to '#' do
                      = fa_icon 'map-marker', class: 'fa-lg'
                %tr
                  %td.text-right
                    %strong
                      Members
                  %td.text-left
                    = group.members_counter
                    of the
                    =group.max_members
                    available
            %p
              %strong
                Joined:
              %hr.colorgraph
              - if user_signed_in? && current_user.id == group.user_id
                = render partial: 'groups/owner_members_managment', locals: {group: group}
              - elsif user_signed_in?
                - case group.privacy
                  - when 'public', 'closed'
                    -#= group.members.any?{}.status
                    - if group.members.any?{|m| m.user_id == current_user.id && m.status == 'joined'}
                      JOINED STATUS
                      = render partial: 'groups/members_managment', locals: {group: group}
                    - else
                      PENDING STATUS
                      = render partial: 'groups/members_list', locals: {group: group}
              - else
                NOT IN LIST STATUS
                = render partial: 'groups/members_list', locals: {group: group}
      .panel-footer
        %button.btn.btn-sm.btn-default{"data-original-title" => "Send message to user", "data-toggle" => "tooltip", :type => "button"}
          = fa_icon "envelope-o"
        %button.btn.btn-sm.btn-default{"data-original-title" => "Cheers up!", "data-toggle" => "tooltip", :type => "button"}
          = fa_icon "thumbs-o-up"
        %span.pull-right
          - case group.privacy
            - when 'public'
              = link_to join_group_path(group), class: 'btn btn-info' do
                = fa_icon 'plus'
                = fa_icon 'globe'
                .span.hidden-xs
                  Join group
            - when 'closed'
              = link_to join_group_path(group), class: 'btn btn-success' do
                = fa_icon 'plus'
                = fa_icon 'group'
                .span.hidden-xs
                  Ask invitation
            - when 'private'
              = link_to join_group_path(group), class: 'btn btn-warning' do
                = fa_icon 'plus'
                = fa_icon 'unlock'
                .span.hidden-xs
                  Ask invitation
          = link_to leave_group_path(group), class: 'btn btn-danger', data: {confirm: 'Are you shure you wanna leave the group?'} do
            = fa_icon 'minus'
            = fa_icon 'group'
            .span.hidden-xs
              Leave group
        .clearfix