%h2 Change your password
%hr.colorgraph
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put,class: 'form-horizontal' }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field.form-group
    = f.label :password, "New password", class: 'control-label col-sm-2'
    .col-sm-6
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
      .col-sm-6
    = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
  .field.form-group
    = f.label :password_confirmation, "Confirm new password", class: 'control-label col-sm-2'
    .col-sm-6
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
  .actions.form-group
    .col-sm-offset-2.col-sm-6
      = f.submit "Change my password", class: 'btn btn-primary btn-lg'
= render "devise/shared/links"
